extends layout

block content
  h1= title
  form(id='phoneForm', action="/resource/phone", method="POST")
    div.form-group
      label.phoneAttr(for='Phone_Name') Phone_Name
      input#Phone_Name(type='text', name='Phone_Name')
    div.form-group
      label.phoneAttr(for='Phone_price') Phone_price
      input#Phone_price(type='number', name='Phone_price')
    div.form-group
      label.phoneAttr(for='Phone_Storage')  Phone_Storage
      input#Phone_Storage(type='number', name='Phone_Storage')
    input(type="submit")

  script.
    document.forms['phoneForm'].addEventListener('submit', (event) => {
      event.preventDefault();

      // TODO do something here to show the user that the form is being submitted
      fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target)), // event.target is the form
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Save succeeded");
        window.location.href='/phone';
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Save failed: " + error);
      });
    });